.el-footer {
  //background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
  border: 1px solid;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.topBar{
  height: 60px;
  background-color: #373d41;
  /*color: #333333;*/
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  color: white;
  margin: 0;
  text-align: center;
  /*border-bottom: solid 1px #e6e6e6;*/
}
.topBar a:hover{
  background-color: #2a2f32;
}

.topBar a{
  color: white;
  line-height: 60px;
  cursor: pointer;
}

.logo{
  width: 60px;
  height: 60px;
  float: left;
  line-height: 60px;
  border-right: 1px solid #2a2f32;
  margin-right: 1px;
}
.project-list{
  float: left;
  height: 60px;
  color: white;
  text-align: center;
  line-height: 60px;
  border-right: 1px solid #2a2f32;
  margin-right: 1px;
  text-decoration: none;
  font-size: 14px;
}
.sign-in{
  float: right;
  color: white;
  text-decoration: none;
  line-height: 60px;
}
.side-bar{
  width: 230px;
  margin-top: 60px;
  background-color: #0C0D0D;
  display: block;
  position: fixed;
}